/* Fondo Body*/
body {
    font-family: 'Oswald', sans-serif;
    background-color: map-get($colores , "bk-body" );
    color: map-get($colores , "color-body" );
    h1{
        color: brown;
        &:hover{
            color: white;
        }
    }
}